@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ECEDEE;
  --overlay: rgba(0, 0, 0, .3);
  --card: #18181B;
  --gray: #52525B;
  --primary: #006FEE;
  --secondary: #9353D3;
  --success: #17C964;
  --warning: #F5A524;
  --danger: #F31260;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 4px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Thumb color */
  border-radius: 6px;
  /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
  /* Thumb color on hover */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}